body
  margin: 0
  height: 92vh
  font-family: sans-serif
  font-family: 'Assistant', sans-serif
  color: #292a3f

.header
  background-color: #80eacd
  height: 88px
  display: flex
  justify-content: center
  align-items: center
  box-shadow: 0 5px 10px rgb(150 228 224 / 60%)
  h1
    text-align: center
    font-weight: bold
    font-size: 2.6em
    letter-spacing: .06em
    margin: 0

.container
  display: flex
  flex-wrap: wrap
  margin: 3em 5px
  justify-content: center
  align-content: center

  .item
    flex: 0 1
    background-color: #f0faf5
    border-radius: 12px
    padding: 10px
    margin: 5px
    display: flex
    justify-content: center
    align-items: center
