body
  margin: 0
  height: 92vh
  font-family: sans-serif
  font-family: 'M PLUS Rounded 1c', sans-serif
  color: #292a3f

.header
  background-color: #9aecd5
  // background: linear-gradient(-25deg, #67f1a8, #9affe2)
  height: 8em
  display: flex
  justify-content: center
  align-items: center
  h1
    width: 380px
    text-align: center
    font-weight: 400
    font-size: 2.4em

.container
  height: 60%
  display: flex
  flex-wrap: wrap
  margin: 3em 5px
  justify-content: center
  align-content: center

  .item
    flex: 0 1
    background-color: #f0faf5
    border-radius: 12px
    padding: 10px
    margin: 5px
    display: flex
    justify-content: center
    align-items: center
